<configuration>
    <!-- Appender para la consola -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- Formato de log en consola -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%level] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Appender para el archivo de log -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/my-application.log</file>  <!-- Este archivo ya se especificó en application.properties -->
        <encoder>
            <!-- Formato de log en archivo -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - [%level] - %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Configuración del nivel de log global -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>
</configuration>
